.btn1 {
color : rgb(49, 46, 46);
background-color: rgba(255, 222, 121, 0.8);
border-radius: 10px 10px 10px 10px;
font-size: 17px;
max-width: 550px;
width: auto;
margin-top: -15px;
margin-right: auto;
margin-left: 0px;
font-family: 'Mitr', sans-serif;
text-transform: none;
}

.btn2 {
color : rgb(49, 46, 46);
background-color: rgba(107, 186, 101, 0.8);
border-radius: 10px 10px 10px 10px;
font-size: 17px;
max-width: 550px;
width: auto;
height: auto;
margin-top: -15px;
margin-left: auto;
margin-right: 0px; 
font-family: 'Mitr', sans-serif;
text-transform: none;
}

.sticker1 {
	width: 230px;
	height: 230px;
	margin-top:  5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-left: 0px;
}

.sticker2 {
	width: 230px;
	height: 230px;
	margin-top:  5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: 10px;
}




body {
	overflow:hidden;
}

.img-circle2{
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.md-button.class1{
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;

}
.md-button.class1:not([disabled]):hover {
	color: rgba(0, 0, 0, 1);
	transition: 0.1s;
}


.font-size-16 *{
    font-size: 16px;
}

.font-size-17 *{
    font-size: 17px;
}

.font-size-18 *{
    font-size: 18px;
}

.font-size-19 *{
    font-size: 19px;
}

.font-size-20 *{
    font-size: 20px;
}

.font-size-21 *{
    font-size: 21px;
}

.font-size-22 *{
    font-size: 22px;
}

